<style>

        body 
        {
            font: 12px sans-serif;
            margin: 100px;
            max-width:1200px;
            min-width: 1200px;	    
        }

        p
        {
            margin-top: 40px;
            margin-left: 30px;
            margin-right: 30px;
            font-size:18px;
            color: lightgray;
        }

        li
        {
            
            margin-left: 30px;
            font-size:18px;
            color: lightgray; 
            fill:lightgray;  
        }

        h1
        {
            font-size: 80px;
            color: white; 
            text-align: center;           
        }

        h2
        {
            text-align: center;
            font-size:32px;
            color: lightgray;           
        }

        h3
        {
            margin-left: 30px;
            color: rgb(242,242,242);
            font-size: 16px
        }

        a:link
        {
            color:white;
            text-decoration: none;
        }

        a:visited
        {
            color:white;
            text-decoration: none;
        }

        a:hover
        {
            color:white;
            text-decoration: underline;
        }



